/* ContactInfo start */
.contactinfo_bg {
  width: 100%;
  padding: 10px 0;
  background-image: url("https://www.tharayilpower.com/static/media/testi_bg.f45dc51be227a3befcbe.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.countericoncontact {
  font-size: 50px !important;
}
.inputplaceholder::placeholder {
  font-size: 13px;
}
.inputplaceholder:focus-visible {
  border: 0px !important;
  outline: 1px solid black !important;
}
/* ContactInfo end */

/* Map start */
.contact_map {
  min-height: 300px;
}
@media (max-width: 576px) {
  .contact_map {
    min-height: 350px !important;
  }
}
/* Map end */