.subbtn .btncss {
    font-size: 12px;
}

.subp {
    font-size: 13px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



/* product recepie slider start */
.image1 {
    height: 275px;
    width: 275px;
    border: 9px solid white;
}

.image2 {
    height: 175px;
    width: 175px;
    margin-top: -34px;
    border: 5px solid white;
}

.productposition {
    position: relative;
    right: 100px;
}

.productbgred {
    background-image: url(../Images/redcircle.png);
    background-size: 250px 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 375px;
    background-position: 69% 70%;
}

@media screen and (max-width:992px) {
    .productposition {
        position: relative;
        right: 0;
    }
}

@media screen and (max-width: 592px) {
    .productbgred {
        background-size: 200px 200px;
        width: 350px;
        background-position: 69% 70%;
    }

    .image1 {
        height: 225px;
        width: 225px;
        border: 7px solid white;
    }

    .image2 {
        height: 125px;
        width: 125px;
        margin-top: -30px;
        border: 4px solid white;
    }
}

@media screen and (max-width:392px) {
    .productbgred {
        background-size: 200px 200px;
        border-radius: 50%;
        width: 308px;
        background-position: 69% 70%;
    }
}

/* product recepie slider end */


/* product Gram wise saperation ---start*/
.btn_active {
    border: 3px solid gold !important;
    transition: all 0.3s ease;
}

.btn_active:hover {
    border: 3px solid var(--red) !important;
}

.active-btn {
    border: 3px solid var(--red) !important;
}

.slider_bgcolor {
    background-image: linear-gradient(-90deg, transparent 70%, var(--red) 30%) !important;
}

/* product Gram wise saperation ---end*/
@media (max-width: 768px){
    .yellow-circle{
        width: 220px !important;
                    height: 220px !important;
    }
}