.fancy-dot {
    width: 8px;
    height: 8px;
    background: linear-gradient(135deg, #f7971e, #ffd200);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.slick-active .fancy-dot {
    background: linear-gradient(135deg, #ff512f, #dd2476);
    transform: scale(1.3);
    opacity: 1;
}

.slick-dots li {
    height: 14px;
    width: 10px;
}

.subbtn .btncss {
    font-size: 12px;
}

.subp {
    font-size: 13px;
}

.specificbg {
    background: url(../../assets/Images/productbg_img.jpg);
    box-shadow: inset 0px 0px 1500px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}




.image1 {
    height: 275px;
    width: 275px;
    border: 9px solid white;
}

.image2 {
    height: 175px;
    width: 175px;
    margin-top: -40px;
    border: 5px solid white;
}

.productposition {
    position: relative;
    right: 100px;
}

.productbgred {
    background-image: url(../Images/redcircle.png);
    background-size: 250px 250px;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 375px;
    /* heigh; */
    background-position: 69% 70%;
}

@media screen and (max-width:992px) {
    .productposition {
        position: relative;
        right: 0;
    }

}



@media screen and (max-width: 592px) {
    .productbgred {
        background-size: 200px 200px;
        width: 350px;
        background-position: 69% 70%;
    }

    .image1 {
        height: 225px;
        width: 225px;
        border: 7px solid white;
    }

    .image2 {
        height: 125px;
        width: 125px;
        margin-top: -30px;
        border: 4px solid white;
    }
}

@media screen and (max-width:392px) {
    .productbgred {
        background-size: 200px 200px;
        border-radius: 50%;
        width: 308px;
        background-position: 69% 70%;
    }


}