.fancy-dot {
    width: 8px;
    height: 8px;
    background: linear-gradient(135deg, #f7971e, #ffd200);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.slick-active .fancy-dot {
    background: linear-gradient(135deg, #ff512f, #dd2476);
    transform: scale(1.3);
    opacity: 1;
}

.slick-dots li {
    height: 14px;
    width: 10px;
}

.subbtn .btncss {
    font-size: 14px;
}

.specificbg {
    background: url(../../assets/Images/productbg_img.jpg);
    box-shadow:inset 0px 0px 1500px rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}